.Landing-background {
  height: 100%;
  width: 100%;
  margin: auto;
}

.landing-grid {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 7em;
}
.banner-text h1 {
  font-size: 300%;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 5px;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 400%;
  padding: 5%;
}
